.container {
  width: 90%;
}

#local-test-control-panel,
#local-test-advertiser-panel,
#local-test-publisher-panel {
  height: 320px;
  /* width: 100%; */
}

#local-test-advertiser-iframe,
#local-test-publisher-iframe {
  border: 1px solid black;
  width: 300px;
  height: 250px;
}

#local-test-publisher-iframe {
}
